nodered_flow.txt
[{"id":"77c71caf.6ddf04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"55b89c3a.09a05c","type":"tcp in","z":"77c71caf.6ddf04","name":"","server":"server","host":"","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":360,"wires":[["f79be31c.431e3"]]},{"id":"a9e5052b.0b267","type":"debug","z":"77c71caf.6ddf04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":360,"wires":[]},{"id":"f79be31c.431e3","type":"function","z":"77c71caf.6ddf04","name":"Clear Alert","func":"\nlet arr = msg.payload.substring(11, msg.payload.len)\nmsg.payload = arr\n\nreturn msg","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["a9e5052b.0b267"]]}]
